#map {
    height: 100vh;
    width: 100%; 
  }
  
  body, html {
    margin: 0;
    padding: 0;
  }


button {
    background-color: #447444;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
}


button:hover {
    background-color: #3b553b; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


#reset-button {
    background-color: #f44336;
    color: white;
    font-family: Arial, sans-serif; 
    border: 2px solid #f44336; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#reset-button:hover {
    background-color: #d32f2f; 
    border-color: #d32f2f; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


